# See https://www.jetbrains.com/help/idea/managing-projects-under-version-control.html
**/.idea/workspace.xml
**/.idea/tasks.xml
npm-debug.log
dump.rdb
logs/
*.iml
*.pb
.idea/
.nyc_output
yarn.lock
./googleKey.json
